@charset "UTF-8";

@font-face {
    font-family: 'heitistd';
    src: url('../fonts/adobeheitistd-regular.otf') format('truetype');
}

@font-face {
    font-family: 'biz-ud_gothic';
    src: url('../fonts/BIZ-UDGOTHICR.TTC') format('truetype');
}

a {
    transition: 0.25s;
    text-decoration: none;
}

a.link,
a:visited,
a:hover,
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

html {
    /* font-size: 62.5%; */
    height: 100vh;
}

body {
    background-color: #333333;
    font-family: 'heitistd';
    padding: 0;
    margin: 0;
}


/* Header */
.header {
    height: 20vh;
    width: 100vw;
    text-align: center;
}

.header .logo_header {
    height: 100%;
}


/* Footer */
.footer {
    height: 10vh;
    width: 100vw;
    text-align: center;
}

.footer .logo_footer {
    height: 100%;
}


/* Main */
.main {
    display: flex;
    /* justify-content: center; */
}

.main .container-left {
    width: 12.5vw;
    background-color: #FF0000;
}

.main .container-center {
    width: 75vw;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.main .container-center p {
    margin: 0;
    font-family: 'biz-ud_gothic';
}

.main .container-right {
    width: 12.5vw;
    background-color: #FF0000;
    text-align: center;
}


/* Navigation */
.navigation-container {
    display: flex;
    justify-content: center;
}

.navigation-container ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.navigation-container ul .nav-item {
    width: 15vw;
    height: 5vh;
    border-style: solid;
    border-color: #333333;
    box-sizing: border-box;
    border-width: medium medium medium 0;
    background-color: #000000;
}

.navigation-container ul .nav-item:first-child {
    border-width: medium medium medium medium;
}

.navigation-container ul .nav-item a {
    font-size: 2.5vh;
    height: 100%;
    position: relative;
    color: #FFFFFF;
    display: block;
}

.navigation-container ul .nav-item a:hover {
    background-color: #888888;
}

.navigation-container ul .nav-item a span {
    line-height: 100%;
    font-weight: bold;
    margin-left: 1vw;
}

.navigation-container ul .nav-item a i {
    width: 25%;
}

/* Button to top */
.button-to-top img {
    width: 100%;
}

.button-to-top {
    position: fixed;
    width: 10vw;
    right: 0vw;
    bottom: 0vh;
    text-align: center;
}

.button-to-top a {
    display: block;
    background-color: #00FF00;
}

.button-to-top a:hover {
    background-color: #000000;
}