<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>
        Complete
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/contact/complete.css' />
</head>

<body>
    <p>送信が完了しました: <%= name %>, <%= message %>
    </p>
    <a href="/">トップページへ</a>
</body>

</html>
