<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="description" content="submission complete">
    <title>
        Complete
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/contact/complete.css' />
    <script src="https://kit.fontawesome.com/635cb748ea.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_header">
        </a>
    </header>
    <div class="main">
        <div class="container-left"></div>
        <div class="container-center">
            <p>送信が完了しました。</p>
            <div class="contentcheck">
                <p>送信内容:</p>
                <div class="name">
                    <p class="form-title">お名前:</p>
                    <p class="content">
                        <%= name %>
                    </p>
                </div>
                <div class="message">
                    <p class="form-title">内容:</p>
                    <p class="content">
                        <%= message %>
                    </p>
                </div>
            </div>
            <p>画面下のボタンから他のページもご覧ください。</p>
        </div>
        <div class="container-right"></div>
    </div>
    <footer class="footer">
        <div class="navigation-container">
            <ul>
                <li class="nav-item">
                    <a href="/"><i class="fa-solid fa-home"></i><span>HOME</span></a>
                </li>
                <li class="nav-item">
                    <a href="/blog"><i class="fa-solid fa-rss"></i><span>BLOG</span></a>
                </li>
                <li class="nav-item">
                    <a href="/contact"><i class="fa-solid fa-address-card"></i><span>CONTACT</span></a>
                </li>
            </ul>
        </div>
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_footer">
        </a>
    </footer>
</body>

</html>