<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Contact
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/contact/index.css' />
</head>

<body>
    <h1>
        Contact
    </h1>
    <p>お名前と内容を入力し、送信ボタンを押してください。</p>
    <div id="inquiry">
        <form action="/contact/complete" method="post">
            <input type="text" name="name" placeholder="お名前">
            <input type="text" name="message" placeholder="内容">
            <input type="submit" value="送信">
        </form>
    </div>
    <a href="/">トップページへ</a>

</body>

</html>