<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="お問い合わせはこちらから。">
    <title>
        Contact | zotokot
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/contact/index.css' />
    <script type="text/javascript" src="/javascripts/contact.js"></script>
    <script src="https://kit.fontawesome.com/635cb748ea.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
    <header class="header">
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_header">
        </a>
    </header>
    <div class="main">
        <div class="container-left"></div>
        <div class="container-center">
            <h1>CONTACT</h1>
            <div class="text-container">
                <p>お名前とお問い合わせ内容を入力し、送信ボタンを押してください。</p>
                <p>Twitterのダイレクトメッセージも開放しています。</p>
                <p id="Twitter-button"><a href="https://twitter.com/zotokot"><span>Twitter</span></a></p>
            </div>
            <div id="inquiry">
                <form id="inquiryform" name="inquiryform" action="/contact/complete" method="post"
                    onSubmit="return formcheck()">
                    <div class="name">
                        <p>お名前</p>
                        <input type="text" name="name" placeholder="お名前">
                    </div>
                    <div class="message">
                        <p>内容</p>
                        <textarea name="message" maxlength="10000" placeholder="内容(10000字まで)"></textarea>
                    </div>
                    <button id="form-button" class="g-recaptcha" data-sitekey="6Lc6-9AhAAAAAOEQ3EWvd6LNZ6J5MIXWTANl_ZkB"
                        data-callback='onSubmit' data-action='submit'>Submit</button>
                </form>
            </div>
        </div>
        <div class="container-right"></div>
    </div>
    <footer class="footer">
        <div class="navigation-container">
            <div class="nav-item-wrapper">
                <a href="/"><i class="fa-solid fa-home"></i><span>HOME</span></a>
            </div>
            <div class="nav-item-wrapper">
                <a href="/blog"><i class="fa-solid fa-rss"></i><span>BLOG</span></a>
            </div>
            <div class="nav-item-wrapper">
                <a href="/contact"><i class="fa-solid fa-address-card"></i><span>CONTACT</span></a>
            </div>
        </div>
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_footer">
        </a>
    </footer>
</body>

</html>