<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="description" content="404 Not Found">
    <link rel="stylesheet" href="/stylesheets/template.css">
    <link rel="stylesheet" href="/stylesheets/404.css">
    <script src="https://kit.fontawesome.com/635cb748ea.js" crossorigin="anonymous"></script>
    <title>404 Not Found | zotokot</title>
</head>

<body>
    <header class="header">
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_header">
        </a>
    </header>
    <div class="main">
        <div class="container-left"></div>
        <div class="container-center">
            <h1>404 NOT FOUND</h1>
            <p>お探しのページは存在しません。<br>画面下のボタンをクリックして、他のページをご覧ください。</p>
        </div>
        <div class="container-right"></div>
    </div>
    <footer class="footer">
        <div class="navigation-container">
            <div class="nav-item-wrapper">
                <a href="/"><i class="fa-solid fa-home"></i><span>HOME</span></a>
            </div>
            <div class="nav-item-wrapper">
                <a href="/blog"><i class="fa-solid fa-rss"></i><span>BLOG</span></a>
            </div>
            <div class="nav-item-wrapper">
                <a href="/contact"><i class="fa-solid fa-address-card"></i><span>CONTACT</span></a>
            </div>
        </div>
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_footer">
        </a>
    </footer>
    <script type="text/javascript" src="../js/contact.js"></script>
</body>

</html>