<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="zotokotのホームページです。主に音楽について発信しています。">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://kit.fontawesome.com/635cb748ea.js" crossorigin="anonymous"></script>
    <title>zotokot.com</title>
</head>

<body>
    <div id="loading">
        <div class="spinner"></div>
    </div>

    <div>
        <header class="header">
            <img src="images/logo_inversedStar_colored_nogap.png" alt="トップページのアイコン" class="logo">
        </header>
        <div class="wrapper">
            <main class="main">
                <div class="links">
                    <ul class="container">
                        <li class="nav-item soundcloud">
                            <a href="https://soundcloud.com/myname-otoko"><i
                                    class="fa-brands fa-soundcloud"></i><span>SoundCloud</span></a>
                        </li>
                        <li class="nav-item twitter">
                            <a href="https://twitter.com/zotokot"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                        </li>
                        <li class="nav-item youtube">
                            <a href="https://www.youtube.com/channel/UCKgpWPoQTx0GrfxT_xSTPEA"><i
                                    class="fa-brands fa-youtube"></i><span>YouTube</span></a>
                        </li>
                        <li class="nav-item blog">
                            <a href="/blog"><i class="fa-solid fa-rss"></i><span>Blog<br>
                                </span></a>
                        </li>
                        <li class="nav-item contact">
                            <a href="/contact"><i class="fa-solid fa-address-card"></i><span>Contact<br>
                                </span></a>
                        </li>
                        <li class="nav-item about-me">
                            <a tabindex="-1"><i class="fa-solid fa-info"></i><span>AboutMe<br>
                                </span></a>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript" src="javascripts/index.js"></script>
</body>

</html>