.main .container-center {
    padding: 0px;
}

.main .container-center .blog-title-container {
    background-color: #CCCCCC;
    position: relative;
    margin-bottom: 20px;
}

.main .container-center .blog-title-container>div {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.main .container-center .blog-title-container .blog-image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    opacity: 0.5;
    display: block;
}

.main .container-center .blog-sentence-container {
    margin: 1vh 4vw 5vh 4vw;
}

.main .container-center .blog-title {
    text-align: center;
    font-size: 40px;
}

.main .container-center .blog-date {
    text-align: right;
    margin-bottom: 10px;
}