#blog-sentence-container h1,
#blog-sentence-container h2,
#blog-sentence-container h3,
#blog-sentence-container h4,
#blog-sentence-container h5,
#blog-sentence-container h6 {
    line-height: 100%;
    border-bottom: solid;
    border-width: 1px;
}

#blog-sentence-container h1 {
    font-size: 36px;
    margin: 8% 0 0.5% 0;
}

#blog-sentence-container h2 {
    font-size: 32px;
    margin: 4% 0 0.5% 4%;
}

#blog-sentence-container h3 {
    font-size: 28px;
    margin: 4% 0 0.5% 7%;
}

#blog-sentence-container h4 {
    font-size: 24px;
    margin: 3% 0 0.5% 9%;
}

#blog-sentence-container h5 {
    font-size: 22px;
    margin: 3% 0 0.5% 10%;
}

#blog-sentence-container h6 {
    font-size: 20px;
    margin: 3% 0 0.5% 11%;
}

#blog-sentence-container {
    padding-left: 10%;
    padding-right: 10%;
}

.main .container-center {
    padding: 0px;
}

.blog-title-container {
    background-color: #CCCCCC;
    position: relative;
    margin-bottom: 20px;
}

.blog-title-container>div {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.blog-title-container .blog-image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    opacity: 0.5;
    display: block;
}

.blog-title {
    text-align: center;
    font-size: 45px;
    margin: 0 15% 0 15%;
}

.blog-create,
.blog-update {
    text-align: right;
    margin-right: 1%;
    line-height: 150%;
    font-size: 13px;
}

#blog-sentence-container {
    margin: 1vh 4vw 5vh 4vw;
}

@media (orientation: portrait) {
    #blog-sentence-container {
        padding-left: 0%;
        padding-right: 0%;
    }
}