#blog-sentence-container h1 {
    font-size: 36px;
    line-height: 100%;
    margin: 6% 0 0.5% 0;
}

#blog-sentence-container h2 {
    font-size: 32px;
    line-height: 100%;
    margin: 4% 0 0.5% 2%;
}

#blog-sentence-container h3 {
    font-size: 28px;
    line-height: 100%;
    margin: 3% 0 0.5% 4%;
}

#blog-sentence-container h4 {
    font-size: 24px;
    line-height: 100%;
    margin: 2% 0 0.5% 6%;
}

#blog-sentence-container h5 {
    font-size: 22px;
    line-height: 100%;
    margin: 2% 0 0.5% 8%;
}

#blog-sentence-container h6 {
    font-size: 20px;
    line-height: 100%;
    margin: 2% 0 0.5% 10%;
}

.main .container-center {
    padding: 0px;
}

.main .container-center .blog-title-container {
    background-color: #CCCCCC;
    position: relative;
    margin-bottom: 20px;
}

.main .container-center .blog-title-container>div {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.main .container-center .blog-title-container .blog-image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    opacity: 0.5;
    display: block;
}

.blog-title {
    text-align: center;
    font-size: 45px;
    margin: 0 15% 0 15%;
}

.blog-create,
.blog-update {
    text-align: right;
    margin-right: 1%;
    line-height: 150%;
    font-size: 13px;
}

.main .container-center #blog-sentence-container {
    margin: 1vh 4vw 5vh 4vw;
}