<!DOCTYPE html>
<html>

<head>
    <title>
        Complete
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>送信が完了しました: <%= name %>, <%= message %>
    </p>
    <a href="/">トップページへ</a>
</body>

</html>