<!DOCTYPE html>
<html>

<head>
    <title>
        Contact
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>
    <h1>
        Contact
    </h1>
    <p>お名前と内容を入力し、送信ボタンを押してください。</p>
    <div id="inquiry">
        <form action="/form/complete" method="post">
            <input type="text" name="name">
            <input type="text" name="message">
            <input type="submit" value="送信">
        </form>
    </div>
    <a href="/">トップページへ</a>

</body>

</html>