.container-center>h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-container>p {
    margin-bottom: 10px;
}

.container-center a,
.container-center a:link,
.container-center a:visited,
.container-center a:hover,
.container-center a:active {
    background-color: #01adfd;
    padding: 7.5px;
    border-radius: 9999px;
    color: #FFFFFF;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #01adfd;
    transition: 0.25s;
}

#Twitter-button {
    margin-top: 20px;
}

#Twitter-button a:hover {
    background-color: #FFFFFF;
    color: #01adfd;
}

#inquiry {
    margin: 40px 20px 20px 0px;
    width: 100%;
}

.container-center #inquiry p {
    margin-left: 5%;
    margin-bottom: 0px;
    font-weight: bold;
}

#inquiry .message {
    margin-bottom: 20px;
}

.container-center input {
    display: block;
    margin-top: 1px;
    margin-left: 5%;
}

#inquiryform .name>input {
    width: 200px;
    max-width: 70%;
}

#inquiry form .message>p {
    margin-top: 20px;
}

.container-center textarea {
    display: block;
    margin-top: 1px;
    margin-left: 5%;
    width: 700px;
    min-width: 20%;
    max-width: 90%;
    line-height: 1em;
    height: 10.1em;
    min-height: 1em;
    max-height: 20.1em;
}

.container-center .button {
    border-radius: 10%;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    width: 100px;
    margin: 0 auto 0 auto;
    transition: 0.25s;
}

.container-center .button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

#form-button {
    display: block;
    border-radius: 10%;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    margin: 0 auto 0 auto;
    transition: 0.25s;
    font-size: 20px;
    font-weight: bold;
}

#form-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

* {
    margin: initial initial initial initial;
    padding: initial initial initial initial;
    margin-left: initial;
}


@media (orientation: portrait) {}