.main .container-center>h1 {
    margin-bottom: 40px;
}

.main .container-center .text-container>p {
    margin-bottom: 10px;
}

.main .container-center a,
.main .container-center a:link,
.main .container-center a:visited,
.main .container-center a:hover,
.main .container-center a:active {
    background-color: #01adfd;
    padding: 7.5px;
    border-radius: 9999px;
    color: #FFFFFF;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #01adfd;
    transition: 0.25s;
}

#Twitter-button a:hover {
    background-color: #FFFFFF;
    color: #01adfd;
}

#Twitter-button {
    margin-top: 20px;
}

#inquiry {
    margin-top: 50px;
    margin-left: 50px;
    margin: 20px;
    background-color: chocolate;
}

.main .container-center #inquiry p {
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.main .container-center #inquiry .message {
    margin-bottom: 20px;
}

.main .container-center input {
    display: block;
    margin-top: 1px;
}

form .name>input {
    width: 200px;
}

.main .container-center #inquiry form .message>p {
    margin-top: 20px;
}

.main .container-center textarea {
    display: block;
    margin-top: 1px;
    width: 700px;
    min-width: 20%;
    max-width: 80%;
    line-height: 1em;
    height: 10.1em;
    min-height: 1em;
    max-height: 20.1em;
}

.main .container-center .button {
    /* display: inline-block; */
    border-radius: 10%;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    width: 100px;
    margin: 0 auto 0 auto;
    transition: 0.25s;
}

.main .container-center .button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

#form-button {
    display: block;
    border-radius: 10%;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    margin: 0 auto 0 auto;
    transition: 0.25s;
    font-size: 30px;
    font-weight: bold;
}

#form-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

@media (orientation: portrait) {}