<!DOCTYPE html>
<html>

<head>
    <title>
        ブログ
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/blog/blog.css' />
</head>

<body>
    <h1>
        <%- content.title %>
    </h1>
    <h5>
        <%- content.date %>
    </h5>
    <%- content.content %>
        <a href="/">トップページへ</a>
</body>

</html>