<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ブログ
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/blog/blog.css' />
</head>

<body>
    <h1>
        <%- content.title %>
    </h1>
    <h5>
        <%- content.date %>
    </h5>
    <%- content.content %>
        <a href="/">トップページへ</a>
</body>

</html>