<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
        Welcome to <%= title %>
    </p>
    <p>フォームのテストページ</p>
    <p>
        <%= content %>
    </p>
    <div id="inquiry">
        <form action="/form/complete" method="post">
            <input type="text" name="name">
            <input type="text" name="message">
            <input type="submit" value="送信">
        </form>
    </div>
    <a href="/">トップページへ</a>

</body>

</html>